<!doctype html>
<html lang="en">
  <head>
	<title>ChatWork</title>
	<link rel="shortcut icon" type="image/png" href="./images/favicon2.png"/>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="./stylesheets/login/login.css">
	<style>
		body{
			background-image: url('./images/background.jpg');
			background-size: 100%;
		}
		form button{
			width: 200px;
		}
		a{
			text-decoration: none;
		}
		a:hover{
			text-decoration: none;
		}
	</style>
  </head>
  <body> 
	  <% if (loginMessage.status == 'success') { %>
		<div class="row">
			<div class="container" style="margin-left: 300px;margin-top:10px">
					<div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-2">
						<div class="alert alert-success alert-dismissible fade show" role="alert">
							<button type="button" class="close" data-dismiss="alert" aria-label="Close">
								<span aria-hidden="true">&times;</span>
								<span class="sr-only">Close</span>
							</button>
							<strong>Success!</strong> <%= loginMessage.message %> 
						</div>
							
					</div>
			</div>
		</div>
	  <% }  %>
	  <% if (loginMessage.status == 'false') { %>
	  <div class="row">
		  <div class="container" style="margin-left: 300px;margin-top:10px">
				  <div class="col-xs-12 col-sm-8 col-md-8 col-md-offset-2">
					  <div class="alert alert-danger alert-dismissible fade show" role="alert">
						  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
							  <span aria-hidden="true">&times;</span>
							  <span class="sr-only">Close</span>
						  </button>
						  <strong>Error!</strong> <%= loginMessage.message %> 
					  </div>
						  
				  </div>
		  </div>
	  </div>
	<% } %>
	 
	
  <div class="login">
  <div class="wrap" style="margin-top: 70px">
	  <!-- TOGGLE -->
	  
	  <div id="toggle-wrap">
		  <div id="toggle-terms">
			  <div id="cross">
				  <span></span>
				  <span></span>
			  </div>
		  </div>
	  </div>
	  <!-- TERMS -->
	  <div class="terms">
		  <h2>ĐIỂU KHOẢN DỊCH VỤ</h2>
		  <p class="small"><s>Sửa đổi lần cuối</s> Tháng 11 23, 2018</p>
		  <h3>Chào mừng đến với AppChat Realtime</h3>
		  <p>Bằng cách sử dụng Dịch vụ của chúng tôi, bạn đồng ý với các điều khoản này. Vui lòng đọc kỹ chúng..</p>
		  <p>Dịch vụ của chúng tôi rất đa dạng, vì vậy đôi khi các điều khoản bổ sung hoặc yêu cầu sản phẩm (bao gồm cả yêu cầu về độ tuổi) có thể được áp dụng. Các điều khoản bổ sung sẽ có sẵn với Dịch vụ liên quan và các điều khoản bổ sung đó sẽ trở thành
			  một phần trong thỏa thuận của bạn với chúng tôi nếu bạn sử dụng các Dịch vụ đó.</p>
		  <h3>Sử dụng Dịch vụ của chúng tôi</h3>
		  <p>Bạn phải tuân thủ mọi chính sách được cung cấp cho bạn trong Dịch vụ.</p>
		  <p>
			  Việc sử dụng Dịch vụ của chúng tôi không cung cấp cho bạn quyền sở
			  hữu bất kỳ quyền sở hữu trí tuệ nào trong Dịch vụ của chúng tôi hoặc nội
			  dung bạn truy cập. Bạn không được sử dụng nội dung từ Dịch vụ của chúng tôi
			  trừ khi bạn được chủ sở hữu cho phép hoặc được pháp luật cho phép. Các điều
			  khoản này không cấp cho bạn quyền sử dụng bất kỳ thương hiệu hoặc biểu trưng
			  nào được sử dụng trong Dịch vụ của chúng tôi. Không xóa, che khuất hoặc thay đổi bất kỳ thông báo
			  pháp lý nào được hiển thị trong hoặc cùng với Dịch vụ của chúng tôi.
		  </p>
		  <p>
			  Cùng với việc bạn sử dụng Dịch vụ, chúng tôi có thể gửi cho bạn thông báo dịch vụ, thông báo quản trị,
			  và các thông tin khác. Bạn có thể chọn không tham gia một số thông báo đó.</p>
		  <h3>Tài khoản Appchat Realtime</h3>
		  <p>
			  438/5000
			  Bạn có thể cần Tài khoản dp để sử dụng một số Dịch vụ của chúng tôi. Bạn có thể tạo Tài khoản dp của riêng bạn,
			  hoặc tài khoản dp của bạn có thể được quản trị viên gán cho bạn, chẳng hạn như nhà tuyển dụng của bạn
			  hoặc cơ sở giáo dục. Nếu bạn đang sử dụng Tài khoản dp được quản trị viên chỉ định cho bạn,
			  các điều khoản khác hoặc bổ sung có thể được áp dụng và quản trị viên của bạn có thể truy cập hoặc vô hiệu hóa tài khoản của bạn.</p>
		  <p>Để bảo vệ Tài khoản dp của bạn, hãy giữ bí mật mật khẩu của bạn. Bạn chịu trách nhiệm chohoạt động xảy ra trên hoặc thông qua Tài khoản dp của bạn. Cố gắng không sử dụng lại mật khẩu tài khoản dp của bạn trên các ứng dụng của bên thứ ba.</p>
		  <h3>Bảo vệ quyền riêng tư và bản quyền</h3>
		  <p>AppChat Realtime Chính sách bảo mật của dp giải thích cách chúng tôi xử lý dữ liệu cá nhân của bạn và bảo vệ quyền riêng tư của bạn khi bạn sử dụng Dịch vụ của chúng tôi. Bằng cách sử dụng Dịch vụ của chúng tôi, bạn đồng ý rằng dp có thể sử dụng dữ liệu đó theo chính sách bảo mật của chúng tôi.
		  </p>
		  <p>Chúng tôi trả lời các thông báo cáo buộc vi phạm bản quyền và chấm dứt tài khoản của lặp lại những người vi phạm theo quy trình được nêu trong Đạo luật bản quyền kỹ thuật tại Việt Nam</p>

		  <h3>Một số thông tin  bên tôi</h3>
		  <p> Họ và tên :<strong>Nguyễn Đăng Khoa</strong></p>
		  <p>chuyên nghành: Công Nghệ Phần Mềm -<strong>Học viện Công nghệ Bưu chính Viễn thông</strong></p>
		  <p>Địa chỉ: Khoái Châu, Hưng Yên, Việt Nam</p>
		  <p>Số ĐT: 0988 794 954.</p>
	  </div>



<!--        THÔNG BÁO ĐĂNG NHẬP - ĐĂNG KÍ -->
		  <!-- SLIDER -->
		  <div class="content">
			  <!-- LOGO -->
			  <div class="logo">
				  <a href="#"><img src="http://res.cloudinary.com/dpcloudinary/image/upload/v1506186248/logo.png" alt=""></a>
			  </div>
			  <!-- SLIDESHOW -->
			  <div id="slideshow">
				  <div class="one">
					  <h2><span>NHÂN</span></h2>
					  <p>người với người đối xử với nhau trên cơ sở tình thương yêu. </p>
				  </div>
				  <div class="two">
					  <h2><span>NGHĨA</span></h2>
					  <p>chỉ làm và nên làm những việc nhằm duy trì đạo lý, lẽ phải.</p>
				  </div>
				  <div class="three">
					  <h2><span>LỄ</span></h2>
					  <p> theo quan điểm của Nho giáo, Lễ bao gồm việc thờ cúng, lễ bái thánh thần, trời Phật và cả những quy định có tính chất pháp luật, những phong tục, tập quán và kỷ luật tinh thần của cá nhân.</p>
				  </div>
				  <div class="four">
					  <h2><span>TRÍ</span></h2>
					  <p> tri thức để suy xét, hành động. Một trong những điểm quan trọng của Trí là phải nắm được mệnh trời.</p>
				  </div>
				  <div class="fIVE">
					  <h2><span>TÍN</span></h2>
					  <p>việc làm nhất quán với lời nói, giữ lời "nhất ngôn ký xuất, tứ mã nan truy"</p>
				  </div>
			  </div>
		  </div>
	  <!-- LOGIN FORM -->
		<div class="user" style="background-color: white;padding: 0;">
			<div class="form-wrap" style="background-color: #FFFFFF;color: black;height: 550px;padding-top: 20px;margin-top: 0">
				<!-- TABS -->
				<div class="tabs">
					<h3 class="login-tab"><a class="log-in active" href="#login-tab-content"><span style="color: black; font-weight: bold">ĐĂNG NHẬP</span></a></h3>
					<h3 class="signup-tab"><a class="sign-up" href="#signup-tab-content"><span style="color: black; font-weight: bold">ĐĂNG KÝ</span></a></h3>
				</div>
				<!-- TABS CONTENT -->
				<div class="tabs-content">
					<!-- TABS CONTENT LOGIN -->
					<div id="login-tab-content" class="active">
						<form class="login-form" action="login" method="post"  >
							<img src="./images/favicon2.png" style="width: 150px; height: 150px; display: block; border-radius: 50%; margin: 0 auto; margin-top: -40px">
							<input type="email"
								  class="input" 
								  id="user_email_login"
								  autocomplete="off"  
								  name="user_login_email"  
								  placeholder="Email address" 
								  style='color: black;'
								   required
								  <% if (loginMessage.user) { %>
								  value='<%= loginMessage.user.email %>'
								  <% } %>
							  />
							<input 
								  type="password" 
								  class="input" 
								  id="user_pass_login" 
								  autocomplete="off" 
								   name="user_login_pass"
								   placeholder="Password" 
								   style="color: black" 
								   required
								   required
								   <% if (loginMessage.user) { %>
								   value='<%= loginMessage.user.password %>'
								   <% } %>
								  />

							<input type="checkbox" class="checkbox" name ="remember" checked id="remember_me">
							<label for="remember_me">Remember me</label>
							<button type="submit" class="btn btn-login" style="background-color:  #5bcfbe;color: white;margin-top: 20px; width: 300px" >ĐĂNG NHẬP</button>
							
						</form>
					</div>
					<!-- TABS CONTENT SIGNUP -->
					<div id="signup-tab-content">
					<form action="singup" method="post" enctype="multipart/form-data">
						<input 
						   type="email" 
						   class="input" 
						   id="user_email" 
						   name="user_email"  
						   placeholder="Email address" 
						   style="color:black" 
						   autocomplete="off" 
						   required
						   <% if (loginMessage.user_singup) { %>
								value='<%= loginMessage.user_singup.email %>'
						    <% } %>
						   >
						<input 
						   type="text" 
						   class="input" 
						   id="user_username" 
						   name="user_username" 
						   placeholder="Username" 
						   style="color:black" 
						   autocomplete="off" 
						   required
						   <% if (loginMessage.user_singup) { %>
							  value='<%= loginMessage.user_singup.username %>'
							<% } %>
						/>
						<input 
						  type="password"
						   class="input" 
						   id="user_password" 
						   name="user_password" 
						   placeholder="Password"  
						   autocomplete="off" 
						   style="color: black; margin-bottom:30px"  
						   required
						   <% if (loginMessage.user_singup) { %>
								value='<%= loginMessage.user_singup.password %>'
							<% } %>
						/>
						<label for="avatar">Profile picture:</label>
						<input 
							type="file"  
							name="image" 
							id="image"
							required
							accept="image/x-png,image/gif,image/jpeg"  
							<% if (loginMessage.user_singup) { %>
								value='<%= loginMessage.user_singup.avatar %>'
							<% } %>
						/>
						<button type="submit" class="btn btn-login" style="background-color: #5bcfbe;color: white;margin-top: 20px; width: 300px" >ĐĂNG KÍ</button>
					</form>
						<div class="help-action">
							<p>
								<span class="glyphicon glyphicon-question-sign"  style="font-size: 18px"></span>
								<a class="agree" href="#" style="color: black">Điều lệ của dịch vụ</a>
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>
  </div>
   </div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="./asset/bootstrap-3.3.7-dist/js/jquery-3.2.1.js"></script>
	<script src="./asset/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.1/socket.io.dev.js"></script>
	<script src="./javascripts/login/slide.js"></script>
	<script src="./javascripts/login/client_login.js"></script>
  </body>
</html>
